/* selector {property:value} */

/* table, td {
    border: 2px solid rgb(140 140 140);
} */

/* border-radius ทำวงกลม */
img {
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
}

body {
  background-color: powderblue;
}

hr {
  /* background-color: blue; */
  border-style: dotted none none;
  border-color: gray;
  width: 30%;
  /* height: 2px; */
  border-width: 15px;
}

h1 {
  color: rgb(246, 100, 124);
}

table {
    border-collapse: collapse;
    /* เสันขอบ */
    /* border: 2px solid rgb(140 140 140); */
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    /* เส้นขอบ */
    /* border: 1px solid rgb(160 160 160); */
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  